@{
    ViewBag.Title = "Ulke Ekle";

}

@section body{
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bolge Sil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="mesaj"> </p>
                    <p class="hata"> </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Iptal</button>
                    <button type="button" class="btn btn-primary bolgeSil">Evet</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="span9">
    <h2>Ulke Ekleme Sayfası</h2>
    <div class="well">
        <form class="form-horizontal" method="post">
            <h3>Mevcut Ulkeler</h3>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Bolge ID</th>
                        <th>Bolge Tanimi ADI</th>
                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ShopCart.Models.Bolgeler b in Model)
                    {
                        <tr>
                            <td>@b.bolgeId</td>
                            <td>@b.bolgeTanimi</td>
                            <td><a href="#" data-toggle="#model" data-target="#exampleModal" data-blgAdi="@b.bolgeTanimi" class="btn btn-danger blgSil">Sil</a></td>
                            <td><a href="#" class="btn btn-info">Güncelle</a></td>
                        </tr>
                    }

                </tbody>
            </table>








            <div class="control-group">
                @foreach (ShopCart.Models.Bolgeler b in Model)
                {
                    <div class="navbar-inner">
                        <ul>
                            <h4> @b.bolgeTanimi</h4>
                            <a href="#" data-toggle="#model" data-target="#exampleModal" data-blgAdi="@b.bolgeTanimi" class="btn btn-danger blgSil">Sil</a>
                        </ul>
                    </div>
                }

                <!--Ulke ekle Bolumu-->
                <form class="form-horizontal" method="post">
                    <h3>Yeni Ulke Olusturun</h3>
                    <div class="control-group">
                        <label class="control-label">Ulke Adi Girin<sup>*</sup></label>
                        <div class="controls">
                            <input type="text" name="bolgeTanimi">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" name="submitAccount"
                                   value="Ulke Ekle"
                                   class="exclusive shopBtn">
                        </div>
                    </div>
                </form>
            </div>
        </form>
    </div>

    <!--  Hatayi gosterecek bolum-->

    <div>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
            </div>
        }
    </div>

</div>



@section scripts{

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $("blgSil").click(
            function () {
                $(".modal-body>p.hata").html = "";
                var bolge = $(this).attr("data-blgAdi");
                $(".modal-body>p.hata").html(bolge + " Silinsin mi?");
                var bolgeId = $(this).attr("data-blgId");
                $(".bolgeSil").data("bolgeId", bolgeId);
            }
        );

        $("bolgeSil").click(
            function () {
                var id = $(this).data("bolgeId");
                alert(id);
                $.ajax({
                    type: "POST",
                    url: "/Bolge/BolgeSil/" + id,
                    succes: function (param) {
                        if (param == 1) {
                            window.location.replace("/Bolge/Index")
                        }
                        else {
                            $(".modal-body>p.hata").html("Hata !!!");
                        }
                    }

                }
                );
            }
        );
    </script>
}